
nav
{
    background: #E6E6E6;
    text-align: right;
    padding: 50px 60px 20px 0px;
}

nav a
{
    padding: 0px 10px;
    color: #000026;
    font-size: 1.2em;
}

nav a:hover
{
    text-decoration: none;
    color: #0000FF;
}

.heavy
{
    font-weight: 700;
}
.inline
{
    display: inline-block;
}

nav h2
{
    display: inline-block;
    float: left;
    margin: 0px 0px 0px 100px;
    color: #0000FF;
    font-size: 3.4em;
    font-weight: 700;
    padding-bottom: 20px;
}

.search
{
    background: #0000FF;
    border-radius: 40px;
    border: 0px;
    height: 40px;
    color: #ffffff;
    margin: 0px 0px 0px 50px;
}

.search:hover
{
    background: #00E8AA;
    color: #000026;
}
.toggle-hide {
 	float: right;   
}
.float-right {
 	float: right;   
}
.btn-shortlist {
    background: #00E8AA;
    color: #000026;
    border-radius: 25px;
    font-size: 1em;
    font-weight: 700;
    padding: 15px 40px;
}
.btn-shortlist:hover {
    color: #ffffff;  
}
.tile {
 	margin-top: 30px;
}