

h2
{
    font-family: helvetica;
    font-weight: 700;
    font-size: 1.5em;
    color: #212121;
}
h1 {
    font-family: helvetica;
    font-weight: 600;
    font-size: 2em;
}
h3 {
 	padding-top: 10px;
    font-family: helvetica;
    font-weight: 600;
    font-size: 1.5em;
}
form {
	padding: 20px;
}
.container
{
    width: 1366px;
    margin: auto;
}

nav
{
    height: 40px;
    background-color: #607D8B;
    padding: 1px 0px 0px 50px;
    z-index: 2;
}

header
{
    height: 400px;
    background-color: #ECEFF1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 1366px;
}

.info
{
    height: 500px;
    width: 100%;
    padding-top: 50px;
    text-align: center;
}

.staticimage
{
    height: 200px;
 	background-size: cover;
 	background-position: center center;
    background-image: url("../images/grass.jpg");
    background-attachment: fixed;
}

footer
{
    height: 150px;
    background: #616161;
}
.column {
    width: 300px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    height: 450px;
}
.icon {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: #76FF03;
    margin: auto;
}
#emailinput {
    width: 250px;
}
#amazing {
 	text-align: center;
	padding-top: 80px;
    font-size: 2.5em;
    color: #FAFAFA;
}
@media screen and (max-width: 1366px) {
 	.info {
     	width: 100%;   
    }
    header {
     	width: 100%;   
    }
    
}
