nav {
 	background:#E6E6E6;
    text-align: right;
    padding: 50px 60px 0px 0px;
}
nav a {
 	padding: 0px 10px; 
    color: #000026;
    font-size: 1.2em;
}
nav a:hover {
 	text-decoration: none;
    color: #0000FF;
}
.heavy {
 	font-weight: 700; 
}
.seev-blue {
 	color: #0000FF;   
}
.inline {
 	display: inline-block;   
}
nav h2 {
    display: inline-block;
	float: left;
    margin: 0px 0px 0px 100px;
    color: #0000FF;
    font-size: 3.4em;
    font-weight: 700;
}
.search {
    background: #0000FF;
    border-radius: 40px;
    border: 0px;
    height: 40px;
    color: #ffffff;
    margin: 0px 0px 0px 50px;
}
.search:hover { 
 	background: #00E8AA;
    color: #000026;
}
header {
 	min-height: 400px;
    background: #E6E6E6;
    border-bottom: solid 1px #B3B3B3;
}
header img {
 	height: 300px;
    width: 300px;
    float: left;
    margin: 80px 20px 0px 0px;
}
header h2 {
    color: #0000FF;
    margin: 120px 0px 40px 0px;
}
#current {
 	padding: 20px 20px 0px 0px;
    font-size: .9em;
}
#education {
 	padding: 0px 7px 0px 0px;
    font-size: .9em;
}
#profile-complete {
 	height: 70px;
    background:#00E8AA;
    padding: 20px 0px 0px 0px;
}
#profile-complete h4 {
 	font-size: 1.5em;
    color: #000026;
    display: inline;
}
#profile-complete a {
 	float: right;
    padding: 5px 0px 0px 0px;
    text-decoration: underline;
    color: #000026;
}
.card {
 	height: 250px;
    max-width: 850px;
    margin: 20px 5px 20px 5px;
    background: #E6E6E6; 
}
.card-title {
 	padding: 20px 0px 20px 20px;   
}
.card-info {
    font-weight: 700;
}
.card-description {
    
}
.card p {
 	padding: 0px 0px 0px 20px;   
}
.add {
 	text-align: center;
    border: dashed 1px #00E8AA;
    padding: 10px 0px 0px 0px;
    margin: 0 px 10px 0px 10px;
    
}