@import url(https://fonts.googleapis.com/css?family=Roboto:900,500,400);
@import url(https://fonts.googleapis.com/css?family=Lora);

body {
	background-color: #2962FF;
	text-align: center;
	margin: 0;
}
nav {
	font-family: 'Roboto', sans-serif;
	background: #E8C66A;
	height: 2em;
	text-align: right;
	padding: 10px 25px 0 0;
}
header {
	height: 600px;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 5em;
	color: #ffffff;
}
span {
	color: #FFEB3B;
} 
a {
	text-decoration: none;
	color: #ffffff;
}
section {
	background: #FFE2B8;
	margin: 0px 0px;
}
aside {
	max-height: 350px;
	width: 100%;
	border-color: #FFC675;
}
article {
	height: 400px;
	background: #E89C6C;
}
div {
	background: #FFE2B8;
}
footer {
   position:relative;
   bottom:0;
   width:100%;
   height:60px;   
   background: #FF957E;
   display: ;
   color: #ffffff;
}
#slogan {
	font-family: helvetica, sans-serif;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
}
#seevlogo{
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
#test {
	margin: auto;
	max-width: 1100px;
}
#signup {
	padding: 20px 10px 10px 10px;
    height: 400px;
    width: 350px;
    background-color: rgba(00,00,00,0.3);
    background-color: #E582A2;
    float: left;
    border: 1px black solid;
}
#signup, h2 {
	font-family: helvetica, sans-serif;
	font-size: 1.5em;
	color: #ffffff;
}
#about {
	width: 650px;
	min-width: 350px;
    height: 400px;
    float: right;
    vertical-align: top;
    text-align: left;
    padding: 1em;
    font-family: 'Lora', serif;
    color: #ffffff;
    line-height: 1.5em;
    background-color: #E55B88;
    border: 1px black solid;
}
.keypoints {
	font-size: 1.5em;
	list-style-type: none;
	padding-top: 5px;
}
.wrapper {
	min-height: 400px;
	max-width: 1200px;
	margin: auto;
}
#summaryinfo {
	font-family: helvetica, sans-serif;
	vertical-align: top;
	padding: 20px;
	height: 400px;
	width: 100%;
}
#about1 {
	margin: 10px 10px 10px 40px;
	float: left;
	width: 300px;
	height: 350px;
}
#about2 {
	margin: 10px 10px 10px 40px;
	float: left;
	width: 300px;
	height: 350px;
}
#about3 {
	margin: 10px 40px 10px 40px;
	float: left;
	width: 300px;
	height: 350px;
}
#contact {
	margin-top: 0px;
	padding-top: 16px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a:hover {
	color: #000000;
}
#left {
	width: auto;
}